Repository MrSeaWave/lint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint ., prettier -w

chore: add cache
  .github/workflows/auto-publish.yml
Due: none

feat: trigger pipeline
  packages/eslint/js/tests/temp.js
Due: prettier -w

feat: update
  .github/workflows/auto-publish.yml
  packages/eslint/js/tests/temp.js
Due: prettier -w

chore: update
  .github/workflows/auto-publish.yml
  packages/eslint/js/tests/temp.js
Due: prettier -w

chore: add files
  packages/eslint/js/package.json
  packages/eslint/node/package.json
Due: npmPkgJsonLint ., prettier -w

docs: clever-dodos-juggle.md
  .changeset/clever-dodos-juggle.md
Due: prettier -w

chore: need to add an extra token variable for publishing
  .github/workflows/auto-publish.yml
Due: none

feat: test
  packages/eslint/js/tests/temp.js
Due: prettier -w

chore: update
  package.json
  packages/eslint/js/tests/temp.js
Due: npmPkgJsonLint ., prettier -w

Create rotten-clouds-give.md
  .changeset/rotten-clouds-give.md
Due: prettier -w

chore: modify access public to release
  .changeset/config.json
  packages/eslint/js/tests/temp.js
Due: prettier -w

Path conditions:
  npmPkgJsonLint .: any of: package.json
  prettier -w: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
